<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finance Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Finance Summarizer App</h1>
      <div class="cards-container">
        <div class="card">
          <img src="placeholder.jpg" alt="Plot 1">
          <a href="plot1.html">Plot 1</a>
        </div>
        <div class="card">
          <img src="placeholder.jpg" alt="Plot 2">
          <a href="plot2.html">Plot 2</a>
        </div>
        <div class="card">
          <img src="placeholder.jpg" alt="Plot 3">
          <a href="plot3.html">Plot 3</a>
        </div>
      </div>
    </div>
  </body>
</html>
