.navbar {
    position: relative;
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 36px;
    font-family: 'Courgette', cursive;
    position: absolute;
    left: 50%;
    margin-left: -150px !important;
}

i.material-symbols-outlined {
    font-size: 36px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #333;
    border-radius: 10px;
}

#chart {
    width: 70%;
    height: 70%;
}

img.card-img-top {
    height:80%;
}